body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* COMMON */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #eceffa;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.no-btn {
  border: none;
}
.no-btn:focus {
  border: none;
  outline: none;
}
.alert {
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  border-radius: 5px;
  margin-top: 15px;
  align-self: flex-start;
}

.error-dailog {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}
.success-dailog {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}

/* Post Item */
.post-wrapper {
  border: 1px solid #e0e0e0;
  box-sizing: border-box;
  border-radius: 4px;
  margin-top: 20px;
  background: #fff;
}
.post-header {
  padding: 10px 10px;
}
.post-avatar {
  display: flex;
}
.post-avatar > div {
  display: flex;
  flex-direction: column;
  padding-left: 12px;
}
.post-avatar img {
  height: 40px;
}
.post-avatar .post-author {
  color: #616161;
  /* font-family: Open Sans; */
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
}
.post-avatar .post-time {
  /* font-family: Open Sans; */
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #9e9e9e;
}
.post-content {
  /* font-family: Open Sans; */
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #424242;
  margin-top: 15px;
}
.post-actions {
  padding: 5px;
  display: flex;
  border: 1px solid #e0e0e0;
  padding: 5px 10px;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #616161;
  border-right: none;
  border-left: none;
}
.post-actions img {
  height: 18px;
}
.post-actions img:hover {
  cursor: pointer;
}
.post-like {
  display: flex;
  align-items: center;
}
.post-comments-icon {
  margin-left: 15px;
  display: flex;
  align-items: center;
}
.post-like span,
.post-comments-icon span {
  margin-left: 7px;
}
.post-comment-box {
  padding: 10px 10px;
}
.post-comment-box input {
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  height: 35px;
  margin: 0 auto;
  width: 100%;
  font-size: 15px;
  box-sizing: border-box;
  padding: 5px;
}
.post-comment-box input:focus {
  outline: none;
}
.post-comments-list {
  padding: 5px 10px;
  position: relative;
}
.post-comment-item {
  background: #eceffa;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 14px;
}
.post-comment-header {
  display: flex;
}
.post-comment-header .post-comment-author {
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: #757575;
}
.post-comment-header .post-comment-time {
  font-size: 12px;
  line-height: 16px;
  color: #9e9e9e;
  margin-left: 8px;
}
.post-comment-header .post-comment-likes {
  font-size: 12px;
  line-height: 16px;
  color: #616161;
  margin-left: 8px;
}
.post-comment-content {
  margin-top: 7px;
}
.post-comments-list .comment-like {
  position: absolute;
  right: 21px;
  top: 13px;
}
.post-comments-list .comment-like img {
  height: 20px;
}
.post-comments-list .comment-like img:hover {
  cursor: pointer;
}

/* NAVBAR */
.nav {
  display: flex;
  background: #6200ee;
  padding: 10px 20px;
  align-items: center;
  justify-content: space-between;
}
.logo {
  color: #fff;
  font-size: 35px;
}
.logo-icons {
  font-size: 40px;
  color: #ece60e;
}
nav #user-dp {
  height: 40px;
}
nav .user {
  display: flex;
  align-items: center;
}
nav span {
  margin-left: 10px;
}
nav .right-nav {
  display: flex;
  color: #fff;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
}
nav .nav-links ul {
  display: flex;
  list-style-type: none;
}
nav .nav-links ul li {
  padding: 0 4px;
}
nav .nav-links ul li a {
  text-decoration: none;
  color: #fff;
}
nav .nav-links ul li a:hover {
  text-decoration: underline;
}
nav .nav-links ul li:hover {
  cursor: pointer;
}
.search-container {
  flex-grow: 0.5;
  /* padding: 0 20px; */
  position: relative;
  display: flex;
}
.search-container input {
  background: #ffffff;
  border: 1px solid #d0d0d0;
  box-sizing: border-box;
  border-radius: 3px;
  height: 40px;
  width: 100%;
  font-size: 16px;
  padding-left: 31px;
  box-sizing: border-box;
  flex-grow: 1;
}
.search-container input:focus {
  outline: none;
}
.search-icon {
  height: 20px;
  position: absolute;
  top: 10px;
  left: 7px;
}
.search-results {
  background: #fff;
  flex-grow: 1;
  border-radius: 0 0 3px 3px;
  position: absolute;
  width: 100%;
  top: 40px;
  border: 1px solid #e0e0e0;
  z-index: 100;
  max-height: 452px;
  overflow: scroll;
  display: none;
}
.search-results ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.search-results ul a {
  text-decoration: none;
  color: black;
}
.search-results-row {
  display: flex;
  align-items: center;
  padding: 9px 14px;
}
.search-results-row:hover {
  background-color: #eceffa;
  cursor: pointer;
}
.search-results-row img {
  height: 27px;
}

/* HOME AND FRIENDSLIST COMPONENT */
.home {
  padding: 20px 50px;
  display: flex;
  width: 80%;
  margin: 0 auto;
}
.home .posts-list {
  flex-grow: 0.8;
}
.friends-list {
  background: #fff;
  margin-left: 50px;
  flex-grow: 0.2;
  height: 50vh;
  box-sizing: border-box;
  margin-top: 20px;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  overflow-y: scroll;
}
.friends-list .header {
  border-bottom: 1px solid #e0e0e0;
  font-weight: 600;
  font-size: 16px;
  color: #424242;
  padding: 20px;
}
.friends-list .friends-img img {
  height: 40px;
}
.no-friends {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}
.friends-item {
  display: flex;
  align-items: center;
  padding: 5px 10px;
  color: #616161;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  text-decoration: none;
}
.friends-item:hover {
  cursor: pointer;
  background-color: #f1f1f1;
}
.friends-name {
  padding: 0 10px;
}

/* LOGIN & SIGNUP COMPONENTS */
.login-signup-header {
  font-weight: 600;
  font-size: 30px;
  color: #ef7917;
}
.login-form {
  background-color: #fff;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
  margin: 50px auto;
  border-radius: 6px;
}
.field {
  width: 100%;
}
.field input {
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  border-radius: 6px;
  width: 100%;
  height: 40px;
  margin-top: 20px;
  padding: 5px;
  font-size: 15px;
}
.field input:focus {
  outline: none;
}
.field button {
  width: 100%;
  margin-top: 20px;
  background: #ef7917;
  border-radius: 2px;
  color: #fff;
  font-size: 20px;
  padding: 9px;
  border: none;
  outline: none;
}
.field button:hover {
  cursor: pointer;
}

/* SETTINGS and USERPROFILE */
.settings {
  display: inline-flex;
  flex-direction: column;
  background: #fff;
  padding: 30px;
  border-radius: 6px;
  margin-top: 50px;
  margin-left: 30px;
  width: 40%;
}
.settings .img-container {
  display: flex;
  margin-bottom: 40px;
  justify-content: center;
}
.settings .img-container img {
  height: 100px;
}
.settings .btn-grp {
  display: flex;
  flex-direction: column;
}
.settings button {
  border-radius: 6px;
  padding: 10px;
  width: fit-content;
  font-size: 16px;
  border-radius: 3px;
  margin-top: 20px;
}
.settings button:hover {
  cursor: pointer;
}
.settings button:focus {
  outline: none;
}
.settings .edit-btn {
  border: 1px solid #ef7917;
  box-sizing: border-box;
  color: #ef7917;
}
.settings .save-btn {
  background: #ef7917;
  color: #fff;
  border: none;
  padding: 10px 20px;
}
.settings .go-back {
  color: #ef7917;
  margin-top: 7px;
  font-size: 13px;
}
.settings .go-back:hover {
  cursor: pointer;
  text-decoration: underline;
}
.settings .field {
  margin-bottom: 10px;
}
.settings .field .field-label {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #9e9e9e;
  padding: 5px 0;
}
.settings .field input {
  margin-top: 6px;
}
/* CREATEPOST */
.create-post {
  background: white;
  border: 1px solid #e0e0e0;
  box-sizing: border-box;
  border-radius: 4px;
}
.create-post > div {
  padding: 10px;
  border-top: 1px solid #d0d0d0;
  display: flex;
  justify-content: flex-end;
}
.create-post textarea {
  height: 90px;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  font-size: 15px;
  border: none;
  resize: none;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}
#add-post-btn {
  width: 112px;
  height: 42px;
  left: 111.5px;
  top: 0px;
  background: #ef7917;
  border-radius: 3px;
  color: #fff;
  font-size: 16px;
}
#add-post-btn:focus,
.create-post textarea:focus {
  outline: none;
}
#add-post-btn:hover {
  cursor: pointer;
}
